.detail {
    height: 100%;
    background-color: #f6f5f6;
    border-bottom: none;
    overflow-y: auto; /*添加滚动条*/
}

.detail .navHeader {
    position: absolute;
    z-index: 2;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-bottom: none;
    background-color: transparent;
}

.detail  .icon-share {
    font-size: 18px;
}

.detail .icon-back {
    color: #fff;
}

.detail .am-navbar-title {
    color: #fff;
    font-size: 16px;
}


.detail .slides {
    height: 252px;
}

.detail img {
    display: block;
    width: 100%;
    height: 252px;
}

.detail .info {
    height: 150px;

    background: #fff;
}

.detail .infoTitle {
    font-weight: normal;
    font-size: 16px;
    color: #333;
}

.detail .tags {
    position: relative;
    margin: 10px 0;
}

.detail .tag {
    display: inline-block;
    font-size: 12px;
    border-radius: 3px;
    padding: 4px 5px;
    margin-right: 5px;
    line-height: 12px;
}

.detail .tag1 {
    color: #39becd;
    background: #e1f5f8;
}

.detail .tag2 {
    color: #3fc28c;
    background: #e1f5ed;

}

.detail .tag3 {
    color: #5aabfd;
    background: #e6f2ff;
}


.detail .infoPriceItem {
    margin-top: 30px;
    text-align: center;
    color: #999;
}

.detail .infoPrice {

    border-top: solid 1px #cecece;
    border-bottom: solid 1px #cecece;
    margin: 15px 0;

    padding: 30px 0;
}
.detail .infoBasic {
    height: 70px;
    font-size: 13px;
    margin: 15px 0;

}
.detail .month {
    font-size: 12px;
    font-weight: normal;
}

.detail div {
    height: 26px;
    line-height: 26px;
}

.detail div:first-child {
    color: #fa5741;
    font-size: 18px;
    font-weight: bolder;
}



.detail .title {
    display: inline-block;
    color: #999;
    padding-right: 5px;
    line-height: 26px;
}

.detail .map {
    margin-top: 10px;
    background: #fff;
}

.detail .mapTitle {
    margin: 0 3%;
    line-height: 44px;
    color: #666;
}

.detail span {
    color: #333;
}

.detail .mapContainer {
    height: 145px;
    text-align: center;
}

.detail .mapArrow {
    background: url(http://map.baidu.com/fwmap/upload/r/map/fwmap/static/house/images/label.png) no-repeat;
    position: absolute;
    width: 11px;
    height: 10px;
    top: 23px;
    left: 10px;
    overflow: hidden;
}

.detail .houseTitle {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 15px 0;
    border-bottom: solid 1px #cecece;
}

.detail .about {
    margin-bottom: 10px;
    padding: 0 10px;
    background: #fff;
}

.detail .set {


    margin-top: 50px;
    padding: 0 10px;
    line-height: 150%;
    background: #fff;
}

.detail .titleEmpty {
    padding: 10px 0;
}

.detail .contact {
    position: relative;
    background-color: #f5f5f9;
}

.detail .user {
    margin-bottom: 10px;
    display: flex;
}

.detail .user img{
    width: 52px;
    height: 52px;
    margin: 10px 10px 0 0;
}

.detail .useInfo {
    padding: 15px 0 0 5px;
}

.detail .userAuth .icon-auth {
    margin-right: 5px;
}

.detail .userAuth {
    font-size: 12px;
    color: #fa5741;
}

.detail .userMsg {
    position: absolute;
    right: 15px;
    top: 20px;
    color: #33be85;
    border: solid 1px #33be85;
    border-radius: 3px;
    padding: 3px 15px;
}

.detail .descText {
    line-height: 1.6;
    padding: 20px 0;
    color: #333;
}

.detail .recommend {
    margin: 10px 0 0 0;
    padding: 0 15px;
    background: #fff;
}

.detail .items div:last-child {
    border-bottom: 0;
}

.detail .fixedBottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    border-top: 1px solid #cecece;
    text-align: center;
    font-size: 17px;
    color: #999;
    background-color: #fff;
}

.detail .favorite {
    margin-left: 6px;
}

.detail .favoriteImg {
    height: 30px;
    width: 30px;
}

.detail .fixedBottom div:first-child {
    border-right: solid 1px #e8e8e9;
}

.detail .fixedBottom div:last-child {
    border-right: solid 1px #e8e8e9;
    background-color: #21b97a;
}

.detail .telephone {
    color: #fff;
}